:root {
    --accent: #0071E3;
    --primary: #4A4A4A;
    --secondary: #CCCCCC;
    --tertiary: #F1F1F1;
    --error: #E30000;
    --normal-radius: 6px;
    --input-radius: 12px;
    --checkbox-radius: 3px;
}

html {
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background: #D9D9D9;
    padding: 0.1rem;
}

section {
    max-width: 70%;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.status div {
    text-align: center;
    display: block;
    margin: auto;
    padding: 1.5rem 0 0.5rem 0;
}

.flash {
    max-width: 50%;
    border-radius: var(--normal-radius);
    box-sizing: border-box;
    color: var(--error);
    border: 1px solid var(--error);
    background-color: var(--tertiary);
    margin: 1rem auto;
    padding: 1rem;
}

.form-header, .form-footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0.5rem 0;
}

.form-header label:first-child {
    font-size: larger;
    align-self: flex-start;
}

.form-header label:last-child {
    font-size: larger;
    align-self: flex-end;
}

.form-footer button:first-child {
    align-self: flex-start;
}

.form-footer button:last-child input[type=submit]:last-child {
    align-self: flex-end;
}

#centered-div input[type=submit] {
    margin: auto;
    width: fit-content;
}

.spacer {
    height: 20px;
}

.divider {
    border-bottom: 1px solid var(--secondary);
    margin: 0.5rem 0 0.5rem 0;
}

button {
    cursor: pointer;
    width: 100px;
    height: 2.5rem;
    border-radius: var(--normal-radius);
    border: 1px solid var(--accent);
    color: var(--accent);
    font-size: medium;
    text-align: center;
    background-color: transparent;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.table {
    border: 1px solid var(--secondary);
    border-radius: var(--input-radius);
    margin-bottom: 1rem;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: var(--tertiary);
}

th {
    text-align: start;
    border-bottom: 1px solid var(--secondary);
    padding: 0.75rem 1rem 0.75rem 1rem;
}

td {
    padding: 0.75rem 1rem 0.75rem 1rem;
}

td label {
    font-weight: normal;
}

input {
    height: 3rem;
    border-radius: var(--input-radius);
    box-sizing: border-box;
    font-size: medium;
    margin-bottom: 1rem;
    padding: 0 1rem 0 1rem;
}

input[type=text], input[type=number], .content textarea {
    border: 1px solid var(--secondary);
    color: var(--primary);
    text-align: start;
    resize: vertical;
}

input[type=submit], input[type=button] {
    cursor: pointer;
    width: fit-content;
    min-width: 100px;
    height: 2.5rem;
    display: inline-block;
    border-radius: var(--normal-radius);
    border: none;
    color: white;
    text-align: center;
    background-color: var(--accent);
    padding: 0 2rem 0 2rem;
}

input[type=file] {
    width: 100%;
    height: auto;
    border: 1px solid var(--secondary);
    padding: 0.5rem 1rem 0.5rem 1rem;
}

input[type=file]::file-selector-button {
    cursor: pointer;
    height: 2.5rem;
    border-radius: var(--normal-radius);
    border: none;
    color: var(--primary);
    background: var(--tertiary);
    padding: 0 2rem 0 2rem;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    margin: 0;
    position: relative;
}

input[type=checkbox]:before {
    cursor: pointer;
    content: "";
    display: block;
    border-radius: var(--checkbox-radius);
    border: 1px solid var(--secondary);
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    top: 0;
    left: 0;
    background-color: white;
}

input[type=checkbox]:checked:before {
    cursor: pointer;
    content: "";
    display: block;
    border-radius: var(--checkbox-radius);
    border: 1px solid var(--accent);
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    top: 0;
    left: 0;
    background-color: var(--accent);
}

input[type=checkbox]:checked:after {
    cursor: pointer;
    content: "";
    display: block;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.upload-test-case {
    border-radius: var(--normal-radius);
    background-color: var(--tertiary);
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 1rem;
}

.upload-test-case .feedback {
    width: 80%;
    margin: 0.5rem 0 0.25rem 0;
}

.upload-test-case .mark {
    width: 15%;
    margin: 0.5rem 0 0.25rem 0;
}

.symbol-label {
    width: 100%;
    height: 3rem;
    display: flex;
    border-radius: var(--input-radius);
    border: 1px solid var(--secondary);
    align-self: center;
    margin-bottom: 1rem;
}

.symbol-label img {
    padding: 0.75rem;
}

.symbol-label label {
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: medium;
    font-weight: normal;
}

.symbol-label label:last-child {
    text-align: end;
    color: var(--accent);
    margin-right: 1rem;
}

.info {
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.info label {
    font-size: medium;
    font-weight: normal;
    display: flex;
}

@page {
    size: A4;
    margin: 0
}

@media print {
    section { max-width: 80% }
    .content { margin-top: 1rem }
    .form-header { margin-bottom: 0 }
    .status { display: none }
    .divider { display: none }
    .symbol-label { display: none }
    input[type=submit] { display: none }
}
