<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - AMFS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header><h1>{% block header %}{% endblock %}</h1></header>
    <section class="status">{% block status %}{% endblock %}</section>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <section class="content">{% block content %}{% endblock %}</section>
</body>
</html>