{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}
{% block header %}Automated Marking and Feedback System{% endblock %}

{% block status %}
    <div class="spacer"></div>
    <div class="spacer"></div>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-header">
            <label>Welcome to AFMS!</label>
        </div>
        <label for="job_title">Create a new marking job here</label>
        <input type="text" name="job_title" id="job_title" value="{{ request.form['job_title'] }}"
               placeholder="Job name" required>
        <div class="spacer"></div>
        <div class="divider"></div>
        <div class="form-footer" id="centered-div">
            <input type="submit" value="Start">
        </div>
    </form>
{% endblock %}