{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}
{% block header %}Automated Marking and Feedback System{% endblock %}

{% block status %}
    <div class="spacer"></div>
    <div class="spacer"></div>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="title">Create a new marking job</label>
        <input type="text" name="name" id="name" value="{{ request.form['title'] }}"
               placeholder="Job name" required>
        <div class="spacer"></div>
        <div class="divider"></div>
        <input type="submit" value="Start" style="align-self: flex-end; margin: 1rem 0 1rem 0;">
    </form>
{% endblock %}